<%= form_with(model: receitum, local: true) do |form| %>
  <% if receitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receitum.errors.count, "error") %> prohibited this receitum from being saved:</h2>

      <ul>
        <% receitum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
