<p id="notice"><%= notice %></p>

<h1>Receita</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receita.each do |receitum| %>
      <tr>
        <td><%= receitum.title %></td>
        <td><%= receitum.description %></td>
        <td><%= link_to 'Show', receitum %></td>
        <td><%= link_to 'Edit', edit_receitum_path(receitum) %></td>
        <td><%= link_to 'Destroy', receitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receitum', new_receitum_path %>
