<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @receitum.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @receitum.description %>
</p>

<%= link_to 'Edit', edit_receitum_path(@receitum) %> |
<%= link_to 'Back', receita_path %>
