<%= form_with(model: food_recipe, local: true) do |form| %>
  <% if food_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_recipe.errors.count, "error") %> prohibited this food_recipe from being saved:</h2>

      <ul>
        <% food_recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= form.file_field :image %>

      <% if @food_recipe.image? %>
        <%= image_tag @food_recipe.image.url, class: "food_recipe-show" %>
        <%= form.check_box :remove_image %>
        Remove Image
      <% end %>      
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :ingredients %>
    <%= form.rich_text_area :ingredient %>
  </div>

<div class="field">
    <%= form.label :steps %>
    <%= form.rich_text_area :step %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
