<h1>Search Results</h1>

<div class="container">
<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<div class="row">
  <% @food_recipes.each do |food_recipe| %>
<div class="col-md-4">
  <div class="food_recipe-box"> 
  <% if food_recipe.image? %> 
    <%= link_to (image_tag food_recipe.image.url, class: "food_recipe-index"), food_recipe %>
  <% end %>
    <ul>
        <li><%= food_recipe.title %></li>
        <li><%= food_recipe.description %></li>
        <li><%= link_to 'Show', food_recipe %>
        <%= link_to 'Edit', edit_food_recipe_path(food_recipe) %>
      <%= link_to 'Destroy', food_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    </div> 
  </div>
    <% end %>
</div>
<br>

<%= link_to 'New Food Recipe', new_food_recipe_path %>
</div>