<center>
<div class="container">
	<div class="show-box">
	<br> </br>
	<% if @food_recipe.image? %>
		<%= image_tag @food_recipe.image.url, class: "food_recipe-show" %>
	<% end %>
<p>
  <strong>Title:</strong>
  <%= @food_recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @food_recipe.ingredient %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @food_recipe.step %>
</p>
<% if user_signed_in? -%>
<%= link_to 'Edit', edit_food_recipe_path(@food_recipe) %> |
<% end %>
<%= link_to 'Back', food_recipes_path %>
	</div>
</div>
</center>