/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

img.food_recipe-show {
	width: 300px;
	height: auto;
}

.show-box{
	width: 40%;
	height: 100%;
	position: relative;
	box-shadow: 5px 5px 5px 5px #888888;
	background: #f5f6fa;
}
.food_recipe-box {
	height: 500px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #f5f6fa;
}

img.food_recipe-index{
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.food_recipe-box ul{
	list-style-type:none;
	position: absolute;
	bottom: 0;
}

.food_recipe-box li:first-child{
	font-size: 20px;
}
